{% extends 'base.html' %}

{% block title %}
    {{ group_obj }}组-笔记页面
{% endblock title %}

{% block content %}
    <h3>
        {{ group_obj }}组-笔记表
{#        {{ request.path }}--{{ request.build_absolute_uri }}#}
    </h3>
    <a type="button" class="btn btn-success" href="{% url 'web:add_notes' group_pk %}">
        添加笔记
    </a>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>

            <th>
                id
            </th>
            <th>
                题目
            </th>
            <th>
                内容
            </th>
            <th>
                快速访问
            </th>
            <th>
                操作
            </th>


        </tr>
        </thead>
        <tbody>
        {% for i in notes %}
            <tr>
                <td>
                    {{ i.id }}
                </td>
                <td>
                    {{ i.title }}
                </td>
                <td>
                    {{ i.content }}
                </td>
                <td>
                    {{ i.is_fast }}
                </td>

                <td>
{#                    <a type="button" class="btn btn-primary btn-sm" href="{% url 'web:notes' i.id %}">#}
{#                        进入#}
{#                    </a>#}
                    <a type="button" class="btn btn-warning btn-sm" href="{% url 'web:modify_notes' group_pk i.id %}">
                        修改
                    </a>
                    <a type="button" class="btn btn-danger btn-sm" href="{% url 'web:delete_notes' group_pk i.id %}">
                        删除
                    </a>
                </td>

            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock content %}
