{% extends 'base.html' %}

{% block title %}
    用户列表
{% endblock title %}


{% block content %}
    <h3>
        分组表
    </h3>
    <a type="button" class="btn btn-success" href="{% url 'user:register' %}">
        添加用户
    </a>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>

                <th>
                    id
                </th>
                <th>
                    username
                </th>
                <th>
                    password
                </th>
                <th>
                    email
                </th>
                <th>
                    操作
                </th>

            </tr>
            </thead>
            <tbody>
            {% for i in object_list %}
                <tr>
                    <td>
                        {{ i.id }}
                    </td>
                    <td>
                        {{ i.username }}
                    </td>
                    <td>
                        {{ i.password }}
                    </td>
                    <td>
                        {{ i.email }}
                    </td>
                    <td>
                        <a type="button" class="btn btn-warning btn-sm" href="{% url 'user:update_user' i.id %}">
                            修改
                        </a>
                        <a type="button" class="btn btn-danger btn-sm" href="{% url 'user:delete_user' i.id %}">
                            删除
                        </a>
                    </td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock content %}