{% extends 'base.html' %}

{% block all_content %}

    <div class="col-md-12">

        <ul>
            {% for note in notes %}
                <li class="list-item">
                    <h2>
                        {{ note.title }}
                    </h2>
                    <p>
                        {{ note.content }}
                    </p>
                    <p>
                        <a class="btn" href="{% url 'web:modify_notes' note.note_group_id note.pk %}">View details »</a>
                    </p>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock all_content %}
