{% extends 'base.html' %}

{% block title %}
    更新公告
{% endblock title %}


{% block all_content %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>
            更新公告
        </h3>

        <h4>20230714</h4>
        <ol>
{#            <li class="list-item">#}
{#                添加新功能#}
{#                <ol>#}
{#                    <li>#}
{#                        添加了数据备份功能#}
{#                    </li>#}
{#                </ol>#}
{#            </li>#}
            <li class="list-item">
                迭代旧功能
                <ol>
                    <li>
                        固定导航栏在顶部，方便使用
                    </li>
{#                    <li>#}
{#                        优化了底部栏#}
{#                    </li>#}
                </ol>
            </li>
        </ol>

        <h4>20230711</h4>
        <ol>
            <li class="list-item">
                添加新功能
                <ol>
                    <li>
                        添加了数据备份功能
                    </li>
                </ol>
            </li>
{#            <li class="list-item">#}
{#                迭代旧功能#}
{#                <ol>#}
{#                    <li>#}
{#                        优化了复杂的url#}
{#                    </li>#}
{#                    <li>#}
{#                        暂时删除了侧边栏#}
{#                    </li>#}
{#                    <li>#}
{#                        优化了底部栏#}
{#                    </li>#}
{#                </ol>#}
{#            </li>#}
        </ol>

        <h4>20230701</h4>
        <ol>
            <li class="list-item">
                添加新功能
                <ol>
                    <li>
                        添加了搜索功能
                    </li>
                </ol>
            </li>
            <li class="list-item">
                迭代旧功能
                <ol>
                    <li>
                        优化了复杂的url
                    </li>
                    <li>
                        暂时删除了侧边栏
                    </li>
                    <li>
                        优化了底部栏
                    </li>
                </ol>
            </li>
        </ol>

        <h4>20230622</h4>
        <ol>
            <li class="list-item">
                添加新功能
                <ol>
                    <li>
                        添加了更新公告功能
                    </li>
                    <li>
                        添加了快速访问功能
                    </li>
                </ol>
            </li>
            {#        <li class="list-item">#}
            {#            迭代旧功能#}
            {#            <ol>#}
            {#                <li>#}
            {#                    优化了搜索功能#}
            {#                </li>#}
            {#            </ol>#}
            {#        </li>#}
        </ol>



    </div>
    <div class="col-md-3"></div>


{% endblock all_content %}