{% extends 'base.html' %}

{% block title %}
    更新公告
{% endblock title %}


{% block content %}
    <h3>
        更新公告
    </h3>
    <ol>
        <h4>20230622</h4>
        <li class="list-item">
            添加新功能
            <ol>
                <li>
                    添加了更新公告功能
                </li>
                <li>
                    添加了快速访问功能
                </li>
            </ol>
        </li>
{#        <li class="list-item">#}
{#            迭代旧功能#}
{#            <ol>#}
{#                <li>#}
{#                    优化了搜索功能#}
{#                </li>#}
{#            </ol>#}
{#        </li>#}

    </ol>

{% endblock content %}